html,body{
  height: 100%;
}
.hiddenContents, .singleItem{
  display: none;
  height: 100%;
}
#content{
  /*height: 100%;*/
}
#comp,#ncomp{
  height: 100%;
  min-height: 168px;
}
.mycontainer{
  height: 100%;
  width: 49%;
  display: inline-block;
}
.todoItem{
  background-color: #333;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
}
.isComp{
  background-color: #588b57;
  position: relative;
}
.isNComp{
  background-color: #927747;
  position: relative;
}
#content h1,#content h2,#content h3, #content p{
  color: #fff !important;
}

#addForm, #updateForm{
  font-size: 15px;
  display: block;
  width: 350px;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-sizing: border-box;
}
.addForm, .updateForm, .addNew, .updateFormItem, .cancelUpdate, .cancel, input,select,select option{
  padding: 20px;
  display: block;
  width: 300px;
  border:1px solid;
  border-radius: 10px;
  margin: 5px !important;
}
.addForm, .addNew, .cancel, .updateFormItem, .cancelUpdate{
  background-color: #333;
  color: #fff;
}

.addForm, .updateForm{
  display: block;
  width: 350px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px;
  box-sizing: border-box;
}

.clearfx{
  clear: both;
}
.popUp, .popUpUpdate, .popUpLogin{
  display: none;
  position: fixed;
  top:0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  padding-top: 50px;
}

#errMsgLogin{
  font-size: 15px;
  display: block;
  width: 350px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px;
  box-sizing: border-box;
}

#deleteItem, #deleteSingleItem{
  position: absolute;
  top: 10px;
  right: 10px;
}

.drag-over, .ui-droppable-hover, .ui-droppable-active{
    border: 2px solid green;
    box-shadow: 0 0 3px blue;
    background-color: grey;
}

#droppable
{
  width: 150px;
  height: 150px;
  padding: 0.5em;
  float: left;
  margin: 10px;
}
#draggable, #draggable-nonvalid {
  width: 100px;
  height: 100px;
  padding: 0.5em;
  float: left;
  margin: 10px 10px 10px 0;
}
